/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400&display=swap');

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  font-family: 'Unbounded', sans-serif;
}

#background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.overlay-button {
  color: #fff;
  font-family: 'Unbounded', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.overlay-button:hover {
  color: #999;
}

.main-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
}

.card-wrapper {
  display: inline-block;
}

.card {
  position: relative;
  padding: 5rem;
  width: 750px;
  height: 447px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.075);
  border-radius: 0.75rem;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
}

.view-count svg {
  width: 12px;
  height: 12px;
}

.avatar-main {
  width: 89px;
  height: 89px;
  border-radius: 50%;
  margin-bottom: rem;
  position: relative;
  top: -64px;
  left: 0px;
}

.username {
  font-size: 1.1rem;
  font-weight: 700; /* bold garantido */
  font-family: 'Unbounded', sans-serif;
  color: #ffffff;
  position: fixed;
  top: 155px;
  left: 360px;
  z-index: 100;
  margin-bottom: 0.5rem;
}

.badges {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  position: relative;
  top: -10px;
  left: 15px;
}

.bio {
  font-size: 0.7rem;
  font-weight: 400; /* bold garantido */
  font-family: 'Unbounded', sans-serif;
  color: #ffffff;
  position: fixed;
  top: 225px;
  left: 315px;
  z-index: 100;
  margin-bottom: 0.5rem;
}

.badge {
  width: 22px;
  height: 22px;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.badge:hover {
  transform: scale(1.1);
}

.badge::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.375rem 0.75rem;
  background-color: #111;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.badge:hover::after {
  opacity: 1;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
  top: 40px;
  left: 0px;
}

.social-button {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
  font-family: 'Unbounded', sans-serif;
  font-weight: 700;
}

.social-button:hover {
  color: #fff;
}

.social-button::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.375rem 0.75rem;
  background-color: #111;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.social-button:hover::after {
  opacity: 1;
}

.discord-profile-small {
  background-color: #ffffff07;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0.75rem;
  padding: 1.0rem 0.55rem;
  width: 115%;
  height: 30.50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
  position: relative;
  top:  42px;
  left: -45px;
  font-family: 'Unbounded', sans-serif;
  font-weight: 700;
}

.discord-profile-small:hover {
  background-color: #111;
}

.profile-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar-wrapper {
  position: relative;
}

.avatar-small {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.status-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #292524;
  border-radius: 50%;
  border: 2.5px solid #292524;
  width: 1.19rem;
  height: 1.19rem;
}

.profile-name {
  font-size: 1.0rem;
  font-weight: 500;
}

.profile-btn {
  background-color: rgba(255, 255, 255, 0.041);
  border-radius: .5rem;
  border: 1px solid rgba(255, 255, 255, 0.095);
  padding: 0.4rem 1.0rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.675rem;
  transition: background-color 0.3s ease;
  font-family: 'Unbounded', sans-serif;
  width: 5.0rem;
  height: 1.rem;
}

.profile-btn:hover {
  background-color: rgba(255, 255, 255, 0);
}

@media (max-width: 768px) {
  .card {
    width: 90vw;
    max-width: 600px;
    padding: 3rem 2rem;
  }
}
